@media screen {
.print-only {
display: none;
}
}

@media print {
button, .mobileonly, .noprint, div#sidebar, header, footer, nav {
display: none;
}

input, textarea, iframe, body.site {
border: none !important;
}
}

.printabletriplist {
	font-family: Arial, sans-serif 
}

.printabletriplist td, th {
background-color: white;
}

.printabletriplist h1 {
font-size: 24pt;
}

.printabletriplist h2 {
font-size: 18pt;
}

table.triplistparams {
border: none;
width: 100%;
}

table.triplistparams th,
table.triplistparams td {
border: none;
font-size: 11pt;
vertical-align: middle;
}

table.triplistparams th {
width: 7%;
font-size: 11pt;
font-weight: bold;
}

table.participants {
width: 100%;
}

table.participants td, th {
height: 25px;
vertical-align: middle;
padding-left: 6px;
font-size: 11pt;
}

th.namecol {
width: 35%;
}

th.emailcol {
width: 30%;
}

th.phonecol {
width: 20%;
}

th.carcol {
width: 4%;
}

th.plbcol {
width: 4%;
}

table.footertable {
width: 100%;
}

table.footertable th {
font-weight: bold;
width: 50%;
}

@media print {
iframe{
	height: 297mm !important
}
}
