<main class='printabletriplist'>
    <h1>Christchurch Tramping Club Trip List</h1>
    <h2>{{showPrintController.tripDetail.title}}</h2>
    <table class="triplistparams">
        <tr>
            <th>Leader:</th>
            <td>
                <div ng-repeat="participant in showPrintController.participants" ng-show="participant.isPrintableLeader">
                    {{participant.name}}
                </div>
            </td>
            <th>Date:</th>
            <td>{{showPrintController.tripDetail.FullDate()}}</td>
            <th>Length:</th>
            <td>{{showPrintController.tripDetail.length}}</td>
        </tr>
    </table>
    <h2>Participants</h2>
    <table class="participants">
        <tr>
            <th class="namecol">Name</th>
            <th class="emailcol">Email</th>
            <th class="phonecol">Phone</th>
            <th class="carcol">Car?</th>
        </tr>
        <tr ng-repeat="participant in showPrintController.participants | orderBy:'displayPriority'" ng-show="participant.isPrintable">
            <td>{{participant.name}}</td>
            <td>{{participant.email}}</td>
            <td>{{participant.phone}}</td>
            <td><span ng-show="participant.isVehicleProvider"><img src="app/assets/blacktick.png" /></span></td>
        </tr>
        <tr ng-repeat="blankline in showPrintController.printableblanklines">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <div>&nbsp;</div>
    <table class="footertable">
        <tr>
            <th class="notecolheader">Notes</th>
            <th class="numberplateheader">Number plates</th>
        </tr>
        <tr>
            <td>
                <div ng-repeat="participant in showPrintController.participants" ng-show="participant.isPrintableStatus">
                    {{participant.name}}: {{participant.status}}
                </div>
            </td>
            <td>
                <div ng-repeat="participant in showPrintController.participants" ng-show="participant.isPrintableRego">
                    {{participant.name}}: {{participant.vehicleRego}}
                </div>
            </td>
        </tr>
    </table>
</main>
