<div>
    <h4 ng-click="showDetailController.showdetail = !showDetailController.showdetail">
        <button ng-class="showDetailController.showdetail ? 'open' : 'closed'"></button>
        {{showDetailController.tripDetail.title}}
		<img src="app/assets/details.png" class="section-icon" />
    </h4>
    <div class="slide" ng-show="showDetailController.showdetail">
        <table class="table table-condensed">
			<colgroup>
				<col width="150px">
				<col>
			</colgroup>
            <tr>
                <th><label for="title">Title</label></th>
                <td>
                    <input type="text" ng-disabled="!showDetailController.tripeditable" 
						   ng-change="showDetailController.update()()" ng-model="showDetailController.tripDetail.title"
                           ng-class="showDetailController.tripClass('title')" id="title" />
                </td>
            </tr>
            <tr>
                <th><label for="date">Date</label></th>
                <td>
                    <input type="date" ng-disabled="!showDetailController.tripeditable" 
						   ng-change="showDetailController.update()()" ng-model="showDetailController.tripDetail.date"
                           ng-class="showDetailController.tripClass('date')" id="date" />
                </td>
            </tr>
            <tr>
                <th><label for="length">Length</label></th>
                <td>
                    <input type="text" ng-disabled="!showDetailController.tripeditable" 
						   ng-change="showDetailController.update()()" ng-model="showDetailController.tripDetail.length"
                           ng-class="showDetailController.tripClass('length')" id="length" />
                </td>
            </tr>
            <tr>
                <th><label for="closeDate">Close Date</label></th>
                <td>
                    <input type="date" ng-disabled="!showDetailController.tripeditable" 
						   ng-change="showDetailController.update()()" ng-model="showDetailController.tripDetail.closeDate"
                           ng-class="showDetailController.tripClass('closeDate')" id="closeDate" />
                </td>
            </tr>
            <tr>
                <th><label for="departurePoint">Departure Point</label></th>
                <td>
                    <input type="text" ng-disabled="!showDetailController.tripeditable" 
						   ng-change="showDetailController.update()()" ng-model="showDetailController.tripDetail.departurePoint"
                           ng-class="showDetailController.tripClass('departurePoint')" id="departurePoint" />
                </td>
            </tr>
            <tr>
                <th><label for="cost">Cost</label></th>
                <td>
                    <input type="text" ng-disabled="!showDetailController.tripeditable" 
						   ng-change="showDetailController.update()()" ng-model="showDetailController.tripDetail.cost"
                           ng-class="showDetailController.tripClass('cost')" id="cost" />
                </td>
            </tr>
            <tr>
                <th><label for="grade">Grade</label></th>
                <td>
                    <input type="text" ng-disabled="!showDetailController.tripeditable" 
						   ng-change="showDetailController.update()()" ng-model="showDetailController.tripDetail.grade"
                           ng-class="showDetailController.tripClass('grade')" id="grade" />
                </td>
            </tr>
            <tr>
                <th><label for="status">Notes</label></th>
                <td>
                    <textarea ng-disabled="!showDetailController.tripeditable" ng-change="showDetailController.update()()" 
							ng-model="showDetailController.tripDetail.status"
                            ng-class="showDetailController.tripClass('status')" id="status"
                            ng-attr-rows="{{showDetailController.tripDetail.status.split('\n').length}}" 
							ng-focus="showDetailController.textAreaFocus('status')"></textarea>
                </td>
            </tr>
            <tr ng-show="!showDetailController.tripDetail.isAdHoc" >
                <th>Description</th>
                <td ng-bind="showDetailController.tripDetail.text"></td>
            </tr>
            <tr>
                <th><label for="status">Map</label></th>
                <td ng-class="showDetailController.tripClass('mapHtml')">
                    <button ng-show="(showDetailController.tripDetail.mapHtml || '') != ''"
                            ng-click="showDetailController.showmap = !showDetailController.showmap"
                            ng-class="showDetailController.showmap ? 'open' : 'closed'"></button>
					<button ng-click="showDetailController.showmaphtml = !showDetailController.showmaphtml">{{showDetailController.showmaphtml ? 'Hide Edit' : 'Edit'}}</button>
					<div class="slide" ng-show="showDetailController.showmaphtml">
						<div>To get map:</div>
						<ol>
							<li>Go to <a href="http://www.topomap.co.nz/" target="new">www.topomap.co.nz</a></li>
							<li>Navigate to a location</li>
							<li>Click on <b>Share Map</b></li>
							<li>Check <b>Embed map in web page</b></li>
							<li>Copy the relevant text</li>
							<li>Paste it below:</li>
						</ol>
						<textarea type="text" ng-disabled="!showDetailController.tripeditable" 
								ng-change="showDetailController.update()()" ng-model="showDetailController.tripDetail.mapHtml"
								ng-class="showDetailController.tripClass('mapHtml')" id="mapHtml" rows="4"></textarea>
					</div>
					<div  class="slide" ng-show="showDetailController.showmap" ng-bind-html="showDetailController.tripDetail.mapHtml | unsafe"></div>
                </td>
            </tr>
            <tr>
                <th><label for="maxParticipants">Maximum Participants</label></th>
                <td>
                    <input type="text" ng-disabled="!showDetailController.tripeditable" 
						   ng-change="showDetailController.update()()" ng-model="showDetailController.tripDetail.maxParticipants"
                           ng-class="showDetailController.tripClass('maxParticipants')" id="maxParticipants" />
                </td>
            </tr>
        </table>
    </div>
</div>