<div>
    <h4 class="noprint" ng-click="showTripEmailController.showtripemail = !showTripEmailController.showtripemail">
        <button ng-class="showTripEmailController.showtripemail? 'open' : 'closed'"></button>
        Trip Email
    </h4>
    <div class="noprint slide" ng-show="showTripEmailController.showtripemail">
        <table>
            <tr>
                <th>Subject</th>
                <td><input type="text" ng-disabled="!showTripEmailController.tripeditable" ng-model="showTripEmailController.email.subject" name="emailsubject" required /></th>
                <td><div ng-show="tripForm.emailsubject.$error.required">required</div></td>
            </tr>
            <tr>
                <th>Body</th>
                <td><textarea ng-disabled="!showTripEmailController.tripeditable" ng-model="showTripEmailController.email.body" name="emailbody" required></textarea></th>
                <td>
                    <div ng-show="tripForm.emailbody.$error.required">required</div>
                    <button ng-disabled="!showTripEmailController.tripeditable || tripForm.emailsubject.$error.required || tripForm.emailbody.$error.required"
                            ng-click="showTripEmailController.save(true)">
                        <img src="app/assets/send.png" />Send
                    </button>
                    <img ng-show="showTripEmailController.savestate == 'Sending'" src="app/assets/waiting.gif" /><span ng-bind="showTripEmailController.savestate"></span>
                </td>
            </tr>
        </table>
    </div>
</div>