<form name="tripForm" ng-controller="showTripController as controller" novalidate>
    <div class="container">
        <div class="noprint">
            <div>
                <button ui-sref="trip.showAllTrips">
                    <img src="app/assets/ctc.png" />All Trips
                </button>
                <button ng-disabled="!controller.saveEnabled()" ng-click="controller.save(false)">
                    <img src="app/assets/save.png" />Save
                </button>
                <button ng-disabled="controller.Undo.length == 0" ng-click="controller.undoAction('Undo','Redo')" ng-attr-title="{{controller.undoTitle('Undo')}}">
                    <img src="app/assets/undo.png" />Undo
                </button>
                <button ng-disabled="controller.Redo.length == 0" ng-click="controller.undoAction('Redo','Undo')" ng-attr-title="{{controller.undoTitle('Redo')}}">
                    <img src="app/assets/redo.png" />Redo
                </button>
                <img ng-show="controller.savestate == 'Saving'" src="app/assets/waiting.gif" />
                <span ng-bind="controller.savestate"></span>
                <span ng-bind="controller.diffString()"></span>
            </div>
            <div class="error" style="white-space: nowrap" ng-repeat="warning in controller.warnings" ng-bind="warning">
            </div>
        </div>

        <show-detail showdetail="controller.showdetail"
                     tripeditable="controller.tripeditable"
                     trip="controller.trip"
                     original-state="controller.originalState"
                     highlights="controller.highlights"
                     update="controller.update"
                     text-area-focus="controller.textAreaFocus">
        </show-detail>

        <show-participants showparticipants="controller.showparticipants"
                           tripeditable="controller.tripeditable"
                           participants="controller.participants" max-participants="controller.maxParticipants"
                           nonmembers="controller.nonmembers" nonmembers-by-name="controller.nonmembersByName"
                           original-state="controller.originalState"
                           highlights="controller.highlights"
                           update="controller.update"
                           text-area-focus="controller.textAreaFocus">
        </show-participants>

        <show-description showdescription="controller.showdescription"
                          trip="controller.trip">
        </show-description>

        <show-trip-email showtripemail="controller.showtripemail"
                         email="controller.email" tripeditable="controller.tripeditable"
                         savestate="controller.savestate" trip-form="controller.tripForm">
        </show-trip-email>

        <show-history showhistory="controller.showhistory"
                      changes="controller.changes"
                      highlights="controller.highlights">
        </show-history>

    </div>
</form>

