<form name="tripForm" ng-controller="showTripController as controller" novalidate>
    <div class="container">
        <div class="noprint">
            <div>
                <nav-to-state type="button" name="trip.showAllTrips">
                    <!--<button ui-sref="trip.showAllTrips">-->
                    <img src="app/assets/ctc.png" />All Trips
                </nav-to-state>
                <button ng-disabled="!controller.isDirty()" ng-click="controller.save(false)">
                    <img src="app/assets/save.png" />Save
                </button>
                <button ng-show="controller.tripeditable && controller.trip.tripDetail.isAdHoc && !controller.trip.tripDetail.isRemoved" 
						ng-click="controller.save(false,true)" title="Delete this trip">
                    <img src="app/assets/cross.png" />Delete
                </button>
                <button ng-show="controller.tripeditable && controller.trip.tripDetail.isAdHoc && controller.trip.tripDetail.isRemoved" 
						ng-click="controller.save(false,false)" title="Un-delete this trip">
                    <img src="app/assets/tick.png" />Un-delete
                </button>
                <button ng-show='controller.tripeditable && !controller.trip.tripDetail.isRemoved'
                        ng-click="controller.print()" title="Prepare trip list for printing">
                    <img src="app/assets/print.png">Print
                </button>
                <img ng-show="controller.savestate == 'Saving'" src="app/assets/waiting.gif" />
                <span ng-bind="controller.savestate"></span>
                <span ng-bind="controller.diffString()"></span>
            </div>
            <div class="error" style="white-space: nowrap" ng-repeat="warning in controller.warnings" ng-bind="warning">
            </div>
        </div>

        <div ng-if="!controller.loading">
            <show-detail showdetail="controller.showdetail"
                         tripeditable="controller.tripeditable"
                         trip-detail="controller.trip.tripDetail"
                         original-trip-detail="controller.originalState().tripDetail"
                         update="controller.update()">
            </show-detail>

            <show-participants showparticipants="controller.showparticipants"
                               tripeditable="controller.tripeditable"
                               trip-is-open="controller.trip.tripDetail.isOpen"
                               participants="controller.trip.participants"
                               nonmembers="controller.trip.nonmembers"
                               original-participants="controller.originalState().participants"
                               update="controller.update()"
                               save ="controller.save()"
                               is-dirty ="controller.isDirty()">
            </show-participants>

            <show-trip-email showtripemail="controller.showtripemail"
                             email="controller.trip.tripEmail"
                             tripeditable="controller.tripeditable"
                             savestate="controller.savestate"
                             trip-form="controller.tripForm">
            </show-trip-email>

            <show-history showhistory="controller.showhistory"
                          changes="controller.editSession.changes">
            </show-history>
        </div>

    </div>
</form>

