<form name="tripsForm"  ng-controller="showAllTripsController as controller" novalidate>
    <div class="container">
        <div class="noprint">
            <div>
                <button ng-click="controller.newTrip()">
                    <img src="app/assets/newtrip.png" />New Trip
                </button>
                <button ng-click="controller.newTrips()" ng-show="controller.allowNewTrips">
                    <img src="app/assets/newtrip.png" /><img src="app/assets/newtrip.png" /><img src="app/assets/newtrip.png" />New Trips from Newsletter
                </button>
            </div>
        </div>
        <div ng-repeat="group in controller.groups">
            <h2 ng-click="group.showdetail = !group.showdetail">
                <button ng-class="group.showdetail ? 'open' : 'closed'"></button>
                {{group.name}}
            </h2>
            <span ng-bind="state.saveState" ng-show="group.isMyTrips"></span>
            <div class="slide" ng-show="group.showdetail">
                <table class="table table-condensed">
                    <tr>
                        <th>Date</th>
                        <th>Length</th>
                        <th>Title</th>
                        <th class="desktop-only">Grade</th>
                        <th class="desktop-only">Leader</th>
                        <th class="desktop-only" ng-show="group.isMyTrips">My role</th>
                    </tr>
                    <tbody ng-repeat="trip in group.trips">
                        <tr>
                            <td ng-class-odd="'oddrow'" style="white-space: nowrap" ng-click="trip.showdetail = !trip.showdetail" 
								ng-class="trip.isRemoved ? 'isRemoved' : ''">
                                <button ng-class="trip.showdetail ? 'open' : 'closed'" class="mobile-only"></button>
                                {{trip.Date()}}
                            </td>
                            <td ng-click="trip.showdetail = !trip.showdetail" ng-class-odd="'oddrow'" 
								ng-class="trip.isRemoved ? 'isRemoved' : ''">{{trip.length}}</td>
                            <td ng-class-odd="'oddrow'" ng-class="trip.isRemoved ? 'isRemoved' : ''">
                                <nav-to-state type="a" name="trip.showTrip" params="{ tripId: {{trip.tripid}} }"><span ng-bind-html='trip.title | unsafe'><span></nav-to-state>
                            </td>
                            <td class="desktop-only" ng-class-odd="'oddrow'" ng-class="trip.isRemoved ? 'isRemoved' : ''">{{trip.grade}}</td>
                            <td class="desktop-only" ng-class-odd="'oddrow'" ng-class="trip.isRemoved ? 'isRemoved' : ''">{{trip.leader}}</td>
                            <td class="desktop-only" ng-class-odd="'oddrow'" ng-show="group.isMyTrips">{{trip.role}}</td>
                        </tr>
                        <tr class="mobile-only">
                            <td colspan="3" style="padding: 0 0 0 15px; margin: 0; ">
                                <div class="slide" ng-show="trip.showdetail">
                                    <b>Grade: </b>{{trip.grade}}<br />
                                    <b>Leader: </b>{{trip.leader}}<br />
                                    <span ng-show="group.mytrips"><b>My Role: </b>{{trip.role}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>